<h1>
  Listing vehicle models

  <%= form_tag vehicleModels_path, method: :get, :class => 'float-right form-inline' do %>
    <%= text_field_tag :term, params[:term], autofocus: true, :class => 'form-control mr-sm-2', :type => 'search', :placeholder => 'Search', autocomplete: 'off' %>
    <%= submit_tag 'Search', nombre: nil, :class => 'btn btn-outline-success my-2 my-sm-0' %>&nbsp&nbsp&nbsp&nbsp
    <%= link_to "", models_new_path, class: 'btn btn-primary fas fa-plus rounded-1 float-right form-inline' %>
  <% end %>

</h1>
<br>
<br>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Model</th>
    <th>Year Of Production</th>
    <th>Options</th>
  </tr>
  </thead>

  <% @get_vehicle_models.each do |model| %>
    <tbody>
    <tr>
      <th><%= model.vehicle_model_name %></th>
      <td><%= model.year_of_production %></td>
      <td>
        &nbsp&nbsp<%= link_to "", vehicle_model_edit_path(model),  class:'btn btn-outline rounded-0 fas fa-pencil-alt fa-2x' %>&nbsp&nbsp
      </td>
    </tr>
    </tbody>
  <% end %>
</table>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @get_vehicle_models %>
  </div>
  <%= will_paginate @get_vehicle_models, :container => false %>
</div>
