<h2>
  <%= title %>
  <%= link_to "", serviceTypes_path, class: 'btn btn-secondary rounded-1 fas fa-undo-alt float-right form-inline' %>
</h2>

<%= form_for @service_types_new do |f| %>

  <div class="container">
    <div class="row mt-3">
      <div class="col">
        <form action="">
          <div class="form-group row">
            <div class="col-12">
              <div class="row justify-content-center">
                <div class="col-12 col-sm-9 col-md-4">
                  <br>
                  <br>
                  <br>
                  <br>
                  <label><b>Tipo de servicio</b></label>
                  <br>
                  <%= f.text_field :service_type_name, :type => 'text', :class => 'form-control', :placeholder => 'Ingrese nombre tipo de servicio', autofocus: true, autocomplete: 'off', required: true %>
                  <br>
                  <%= f.submit :Crear, :class => 'btn btn-primary btn-block' %>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

<% end %>