<h1>
  Listado de Clientes

  <%= form_tag clients_path, method: :get, :class => 'float-right form-inline' do %>
    <%= text_field_tag :term, params[:term], autofocus: true, :class => 'form-control mr-sm-2', :type => 'search', :placeholder => 'Numero de documento', autocomplete: 'off' %>
    <%= submit_tag 'Buscar', nombre: nil, :class => 'btn btn-outline-success my-2 my-sm-0' %>&nbsp&nbsp&nbsp&nbsp
    <%= link_to "", clients_new_path, class: 'btn btn-primary fas fa-plus rounded-1 float-right form-inline' %>
  <% end %>

</h1>
<br>
<br>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Documento o Ruc</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Tipo de Cliente</th>
    <th>Limite de credito</th>
    <th>Editar o Ver</th>
  </tr>
  </thead>

  <% @clients.each do |client| %>
    <tbody>
    <tr>
      <th>&nbsp&nbsp<%= client.document_number.upcase %>&nbsp&nbsp</th>
      <td>&nbsp&nbsp<%= client.first_name.upcase %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= client.last_name.upcase %>&nbsp&nbsp</td>
      <td>&nbsp&nbsp<%= client.customer_type.upcase %>&nbsp&nbsp</td>
      <th>&nbsp&nbsp<%= client.limite_credito.to_s(:delimited) %>&nbsp&nbsp</th>
      <td>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to "", client_edit_path(client), class:'btn btn-outline rounded-0 fas fa-pencil-alt fa-2x' %>&nbsp&nbsp
      </td>
    </tr>
    </tbody>
  <% end %>
</table>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @clients %>
  </div>
  <%= will_paginate @clients, :container => false %>
</div>